.accordion-item {
    position: relative;
    border-bottom: solid 1px $lightGrey;
    .accordion-item-content {
        max-height: 0;
        transition: all .5s ease-in-out;
        overflow: hidden;
        color: $darkGrey;

        p {
            padding: 0;
        }
    }

    .accordion-item-trigger {
        padding: 20px 0 10px 0;
        cursor: pointer;
        margin: 0;
        position: relative;
        @include respond-to('medium-landscape') {
            padding-right: 0;
        }
    }

    .accordion-icon {
        color: $primaryColor;
        text-transform: uppercase;
        font-weight: 500;
        padding: 0 0 10px 0;
        display: block;
        position: relative;
        margin-left: 3px;
        cursor: pointer;

        &:before {
            content: '';
            background-color: $primaryColor;
            width: 13px;
            height: 13px;
            display: inline-block;
            margin-right: 7px;
            transition: all .2s;
            transform: rotate(-45deg);
            position: relative;
            top: 1px;
        }

        &:after {
            content: '+';
            color: #fff;
            position: absolute;
            left: 3px;
            top: -1px;
        }
    }

    &.active {

        .accordion-item-content {
            max-height: 700px;
        }

        .accordion-icon {
            &:before {
                transform: rotate(0);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}